{% extends "base.html" %}

{% block title %}文章管理{% endblock %}

{% block content %}

    <table class="table table-striped">
    <thead>
      <tr>
          <th>id</th>
          <th>标题</th>
          <th>分类</th>
          <th>日期</th>
          <th>编辑</th>
          <td>删除</td>
          <td>查看博客</td>
      </tr>
    </thead>
    <tbody>
      {%  for article  in articles %}
      <tr>
{#       {{ article }}#}
{#          (1, 'a', 'a', '1', datetime.datetime(2025, 7, 4, 10, 35, 3), 1, '根分类', -1, '0') #}
        <td>{{ article[0] }}</td>
        <td>{{ article[1] }}</td>
        <td>{{ article[6] }}</td>
        <td>{{ article[4] }}</td>
        <td><a href="/article/delete/{{ article[0] }}" class="btn btn-warning btn-sm">编辑</a></td>
        <td><a href="/article/delete/{{ article[0] }}"  class="btn btn-danger btn-sm">删除</a></td>

      <td><a href="/article/blog_detail/{{ article[0] }}" target="_blank" class="btn btn-success btn-sm">查看博客</a></td>
      </tr>
      {%  endfor %}
    </tbody>
</table>
{% endblock %}